@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700;800;900&display=swap');

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

body {
    background: linear-gradient(270deg,#623b3b,#0f123e, #271f38);
}

a, a:hover {
    text-decoration: none;
    color: #00adb5;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

.header {
    width: 100%;
    height: 88vh;
    background-image: url("https://ak.picdn.net/shutterstock/videos/17947003/thumb/1.jpg");
    padding-top: 7%;
}

.nav-bar {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    height: 12vh;
    color: #00adb5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000000;
    background: linear-gradient(
        285deg
        ,#16191c, #00091a );
}

.nav-bar .logo a {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    animation: name_animate 4s linear infinite;
}

.nav-bar .menu ul li{
    margin-right: 30px;
}

.nav-bar .menu ul li a {
    font-size: 19px;
    letter-spacing: 2px;
    padding: 10px;
    border-radius: 5px;
    text-transform: capitalize;
    transition: all 0.5s;
    opacity: 0.6;
}

.nav-bar .menu ul li a.active {
    opacity: 1;
}

.nav-bar .menu ul li a:hover {
    font-size: 30px;
    opacity: 1;
}

.nav-bar .social-media ul li i{
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 5px;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    font-size: 19px;
    transition: all 0.3s ease-in-out;
}

.nav-bar .social-media ul li i:hover{
    font-size: 25px;
    background: linear-gradient(270deg,#4b0000,#300058);
}

.hero {
    width: 100%;
}

.hero .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin: auto;
}

.hero .row .left-section{
    width: 40%;
    background: transparent;
    margin: auto;
    text-align: center;
}

.hero .row .left-section h2{
    font-size: 75px;
    background: linear-gradient(
        285deg
        ,#b8538c 55%, #86A8E7 75%, #5FFBF1 100%);
    text-transform: capitalize;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: drop_right 1s normal forwards ease-in-out;
}

.ava{
    animation: drop_down 1s normal forwards ease-in-out;
}

.text{
    animation: drop_down 0.3s normal forwards ease-in-out;
}

.img{
    animation: fade 0.3s normal forwards ease-in-out;
}

.hide{
    display: none;
}

@keyframes drop_down {
    0%{
        opacity: 0;
        transform: translate3d(0px, -50%, 0px);
    }
    100%{
        opacity: 1;
        transform: none;
    }
}

@keyframes fade {
    0%{
        opacity: 0;
        transform: none;
    }
    100%{
        opacity: 1;
        transform: rotateY(360deg);
    }
}

@keyframes drop_right {
    0%{
        opacity: 0;
        transform: translate3d(-200px, 0%, 0px);
    }
    100%{
        opacity: 1;
        transform: none;
    }
}

.hero .row .left-section p{
    color: white;
    line-height: 28px;
}


@keyframes test {
    0%,100% {
        top: 50%;
        left: 50%;
    }
    25% {
        top: 60%;
        left: 40%;
    }
    50% {
        top: 60%;
        right: 80%;
    }
    75% {
        top: 40%;
        left: 64%;
    }
}

@keyframes move {
    0%,100% {
        top: 0;
    }
    50% {
        top: 20px;
    }
}


.wrapper {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
}

.box div {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 30px;
    border: 6px solid transparent;
    border-image: linear-gradient(285deg
    ,#71c986 10%,#71c9a6 30%, #71c9c5 50%,#71adc9 70%);
    -webkit-border-image: -webkit-linear-gradient(285deg
    ,#71c986 10%,#71c9a6 30%, #71c9c5 50%,#71adc9 70%);
    border-image-slice: 1;
    z-index: 1;
}

.box div:nth-child(1) {
    width: 40px;
    height: 40px;
    top: 30%;
    left: 28%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(2) {
    top: 60%;
    left: 50%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(3) {
    width: 50px;
    height: 50px;
    top: 85%;
    left: 7%;
    animation: animate 7s linear infinite;
}

.box div:nth-child(4) {
    top: 25%;
    left: 10%;
    animation: animate 5s linear infinite;
}

.box div:nth-child(5) {
    top: 30%;
    right: 10%;
    animation: animate 6s linear infinite;
}

.box div:nth-child(6) {
    top: 35%;
    right: 30%;
    animation: animate 8s linear infinite;
}

.box div:nth-child(7) {
    top: 90%;
    right: 35%;
    animation: animate 8s linear infinite;
}

.box div:nth-child(8) {
    width: 40px;
    height: 40px;
    top: 10%;
    right: 20%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(9) {
    top: 50%;
    left: 15%;
    animation: animate 7s linear infinite;
}

.box div:nth-child(10) {
    width: 80px;
    height: 80px;
    bottom: 15%;
    left: 31%;
    animation: animate 11s linear infinite;
}

.box div:nth-child(11) {
    width: 100px;
    height: 100px;
    bottom: 25%;
    right: 10%;
    animation: animate 14s linear infinite;
}

@keyframes name_animate{
    0% {
        color: #00adb5;
    }
    30%{
        color: #d12f2f;
    }
    60% {
        color: #bcc726;
    }
}

@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100% {
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}
@media only screen and (max-height: 750px) and (min-width: 901px){
    .hero .row .left-section{
        width:70%;
    }
    .header{
        padding-top: 0px !important;
    }
    .content h2{
        font-size: 50px !important;
    }
    #overview{
        font-size: 15px;
    }
    .ava{
        width: 140px;
    }
    h4{
        font-size: 12px !important;
    }
    .box div:nth-child(9) {
        display: none;
    }
    .box div:nth-child(2) {
        display: none;
    }
    .box div:nth-child(10) {
        display: none;
    }
}

@media only screen and (min-height: 801px) and (max-width: 1500px){
    .hero .row .left-section{
        width:60%;
    }
}

@media screen and (max-width: 500px) {
    .pic{
        width: 100%;
    }
}

@media screen and (max-width: 800px) and (min-height: 900px) {
    .skills{
        width: 90% !important;
    }
    .slideshow-container{
        width: 90% !important;
    }
}

@media only screen and (max-width: 900px) and (max-height: 940px){ 
    .hero .row {
        display: 100%;
    }
    .header{
        padding-top: 2% !important;
    }
    .hero .row .left-section {
        width: 90%;
    }
    .nav-bar{
        padding-top: 3%;
        padding-bottom: 3%;
        height: fit-content;
    }
    .content h2{
        font-size: 30px !important;
    }
    #overview{
        font-size: 12px;
    }
    .ava{
        width: 120px;
    }
    h4{
        font-size: 10px !important;
    }
    .skills{
        width: 90% !important;
    }
    .slideshow-container{
        width: 90% !important;
    }
    .box div:nth-child(6) {
        display: none;
    }
    .box div:nth-child(7) {
        display: none;
    }
    .box div:nth-child(8) {
        display: none;
    }
    .box div:nth-child(9) {
        display: none;
    }
    .box div:nth-child(2) {
        display: none;
    }
    .box div:nth-child(10) {
        display: none;
    }
}


.level {
    background: linear-gradient(270deg,#f2709c,#ff9472, #d12f2f);
    height: 15px; 
    border-radius: 30px;
}

#web{animation: web_animate 1s normal forwards ease-in-out;}
#c{animation: c_animate 1s normal forwards ease-in-out;}
#python{animation: python_animate 1s normal forwards ease-in-out;}
#java{animation: java_animate 1s normal forwards ease-in-out;}
#server{animation: server_animate 1s normal forwards ease-in-out;}
#cloud{animation: cloud_animate 1s normal forwards ease-in-out;}
#embedded{animation: embedded_animate 1s normal forwards ease-in-out;}
#database{animation: database_animate 1s normal forwards ease-in-out;}
#spring{animation: spring_animate 1s normal forwards ease-in-out;}
#android{animation: android_animate 1s normal forwards ease-in-out;}


@keyframes web_animate{
    0% {width: 0%;}
    100% {width: 85%;}
}

@keyframes java_animate{
    0% {width: 0%;}
    100% {width: 90%;}
}
@keyframes c_animate{
    0% {width: 0%;}
    100% {width: 75%;}
}
@keyframes server_animate{
    0% {width: 0%;}
    100% {width: 75%;}
}
@keyframes cloud_animate{
    0% {width: 0%;}
    100% {width: 70%;}
}
@keyframes android_animate{
    0% {width: 0%;}
    100% {width: 80%;}
}
@keyframes embedded_animate{
    0% {width: 0%;}
    100% {width: 70%;}
}
@keyframes database_animate{
    0% {width: 0%;}
    100% {width: 90%;}
}
@keyframes spring_animate{
    0% {width: 0%;}
    100% {width: 80%;}
}
@keyframes python_animate{
    0% {width: 0%;}
    100% {width: 75%;}
}

.skills::before{
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #7d971d;
  }
  
  *::-webkit-scrollbar {
    width: 10px;
	background-color: #222831;
  }

  *::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 15px;
	background-color: #F5F5F5;
 }

  *::-webkit-scrollbar-thumb {
    border-radius: 15px;
	background-color: #861515;
	background-image: -webkit-linear-gradient(90deg,
											  transparent,
											  rgba(0, 0, 0, 0.4) 50%,
											  transparent,
											  transparent)
  }
  

.proj {
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-family:Baskerville,Times,'Times New Roman',serif;
    font-size: 75px;
    line-height: 1;
    margin: 10px 0;
    text-align:center;
    font-weight:bold;
    margin-top: 20px;
    text-decoration: underline;
  }

h4{
    width: 100%; 
    text-align: center; 
    color:darkgoldenrod;
    font-size: 13px;
    margin-bottom: 10px;
    animation: drop_left 1s normal forwards ease-in-out;
}

h4:after,
h4:before{
    content:"\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
}

@keyframes drop_left {
    0%{
        opacity: 0;
        transform: translate3d(200px, 0%, 0px);
    }
    100%{
        opacity: 1;
        transform: none;
    }
}
